<nav>
    <a href="/about">about</a>
    <h1 class="main-title"><a href="/">GAMESHARE</a></h1>
    <% if (isLoggedIn) { %>
    <p> <a href=""><%= currentUser.username %></a></p>
    <form action="/logout?_method=delete" method="post">
        <button>logout</button>
    </form>
    <% } else { %>
    <a href="/login">login</a>
    <% } %>
</nav>