<nav>
    <div class="nav-container">
        <div class="box"><a href="/about">About</a></div>
        <div class="box"><a class="main-title" href="/">GAME<->SHARE</a></div>
            <% if (isLoggedIn) { %>
            <div class="box"><a href="/users/<%= currentUser.id %>"><%= currentUser.username %></a></div>
            <% } else { %>
            <div class="box"><a href="/login">login</a></div>
            <% } %>
    </div>
</nav>