<h1>About GAMESHARE</h1>
<p>GAMESHARE is a website for gamers to find others who enjoy the same games as they do. Whether it's single or multiplayer, PC or console, popular or niche, GAMESHARE strives to be an option for anyone to connect with their game's community.
</p>