<h1 class="tagline">About GAMESHARE</h1>
<div class="paragraph">
    <p>
        <span class="first-word">GAMESHARE</span> is a website for gamers to find others who enjoy the same games as they do. Whether it's single or multiplayer, PC or console, popular or niche, <span class="gameshare">GAMESHARE</span> strives to be a reliable resource for anyone to connect with their game's community.
    </p>
    <br>
    <p>
        For many of its features, you must first log in to <span class="gameshare">GAMESHARE</span>. When making an account, it is ideal to include some sort of contact information in your "About Me" (until a chat function is made properly). From there, simply navigate to the index page by clicking the logo. 
        Choose any game in the list to see details of said game as well as a list of all other users playing the game. You can also see what other games these users play if you are interested.
        If you want to show your interest in a game, go to your profile and edit your games section with a remark about the game. Now, anyone who views your profile will know what you like and can hopefully contact you to play together.
    </p>
</div>