<h2 class="tagline">Edit Profile</h2>

<div class="form">
    <form action="/users/<%= currentUser.id %>/edit/profile?_method=put" method="post">
        <label for="">Username</label>
        <input type="text" name="username" value="<%= user.username %>">

        <label for="">Profile picture</label>
        <input type="text" name="profileImage" value="<%= user.profile_image %>">

        <label for="">About me</label>
        <textarea name="aboutMe"><%= user.about_me %></textarea>

        <button>Update</button>
    </form>
</div>