<h2>popular games</h2>

<div class="all-dishes">
    <% for (let game of games) {%>
        <div class="ui-card">
            <img src="<%= game.image_url %>" alt="">
            <h2>
                <a href="/games/<%= game.id %>"><%= game.title %> <span class="user-count">(<%= game.player_count %> users)</span></a>
            </h2>
        </div>

        <% } %>
</div>