<h1 class="tagline">Login</h1>

<% if (locals.errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
<% } %>

<div class="form">
    <form action="/login" method="post">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <button>Login</button>
    </form>
    <p><a href="/signup">Don't have an account? Sign up instead</a></p>
</div>