<h2>Share a dish!</h2>

<form action="/dishes" method="post">
    <label for="">Title</label>
    <input type="text" name="title">

    <label for="">Image url</label>
    <input type="text" name="imageUrl">

    <label for="">Description</label>
    <input type="text" name="description">

    <button>Share</button>
</form>