<h2>Sign up</h2>
<form action="/signup" method="post">
    <label for="">Email</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password">    

    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">About me</label>
    <textarea name="aboutMe"></textarea>

    <input type="hidden" name="profileImage" value="https://fakeimg.pl/400x400?text=profile">

    <button>Register</button>
</form>