* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

img {
    width: 100%;
}

td {
    text-align: left;
    padding-right: 10px;
}

a {
    text-decoration: none;
}