* {
    border: 1px solid red;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --sans-serif: Arial, Helvetica, sans-serif;

    /* colors */
    --green: #c0d46d;
    --gray: #f0f0f0;
    --darkgray: #404040;
    --darkgreen: #283025;
}

body {
    background-color: var(--darkgreen);
    font-family: var(--sans-serif);
    text-align: center;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
} 

.main-title {
    font-size: 2rem;
}

.ui-card {
    background-color: var(--darkgray);
}

.ui-card a {
    color: var(--green);
}

.error {
    color: red;
}

@media (min-width: 800px) {
    body {
        text-align: initial;
    }

    #top {
        flex-direction: row;
        justify-content: space-between;
    }

    .all-dishes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}