* {
    /* border: 1px solid red; */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --sans-serif: Arial, Helvetica, sans-serif;

    /* colors */
    --green: #c0d46d;
    --gray: #f0f0f0;
    --darkgray: #404040;
    --calpolygreen: #005500;
    --raisinblack: #34252f;
    --background: #25273A;
    --nav: #00a5cf;
}

body {
    background-color: var(--background);
    font-family: var(--sans-serif);
    text-align: center;
    color: white;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color: var(--nav);
} 

.main-title > a {
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.ui-card {
    background-color: var(--darkgray);
}

.ui-card a {
    color: var(--green);
}

.user-count {
    font-style: italic;
}

.error {
    color: red;
}

.user-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    max-width: 50%;
}

@media (min-width: 800px) {
    body {
        text-align: initial;
    }

    #top {
        flex-direction: row;
        justify-content: space-between;
    }

    .all-dishes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}